/* Nav bar */
#Navbar,
.navbar {
  background-color: #ffffff;
}

#Navbar p,
#Navbar h2 {
  color: rgb(16, 75, 31);
}

#Navbar .active {
  border-bottom: #138844 2px solid;
}

#Navbar .img-profile {
  width: 50px ;
  height: 50px;
  border: #138844 3px solid;
  padding: 0;

}

/* Hero Section */
#Hero {
  background-image: url("../images/hero/hero_.jpg");
  background-size: cover;
  background-color: rgb(180, 180, 180);
}
#SubHero {
  background-color: rgb(255, 255, 255);
}

.brand-feature {
  font-size: 30px;
  color:#138844;
  width: 100px;
}

.sub-hero-item {
  width: 500px;
  border: 1px solid #138844;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* General */
section {
  padding: 10px;
}

.section-title {
  color: rgb(160, 160, 160);
  text-transform: uppercase;
  padding: 20px;
}

.section-title-dark {
  color: rgb(29, 29, 29);
  text-transform: uppercase;
  padding: 20px;
}

.width-80vw {
  width: 80vw;
}

.height-30vh {
  height: 30vh;
}

.image-hw {
  height: 30vw;
  width: auto;
}

.body-bg {
  background-color: rgb(245, 245, 245);
}
.body-bg-img {
  background-image: url("../images/background/body-bg-img.jpg");
  background-size: cover;
  background-color: rgb(245, 245, 245);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}


/* Footer */
.socials-logo {
  width: 50px;
  height: 50px;
}

.contacts-logo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.table-container {
  width: 80vw;
  overflow-x: auto;
  margin: auto;
}

.card-hw {
  width: 18rem;
  height: 15rem;
}

.product-card {
  width: 15rem;
  height: 20rem;
  margin-bottom: 20px;
  transition: filter 0.3s ease;
}

.product-card:hover {
  filter: brightness(0.95);
  border-color: #138844;
}

.no-decor {
  text-decoration: none;
  color: black;
}

.no-decor-white {
  text-decoration: none;
  color: white;
}

.no-spacing {
  line-height: 0.8;
}

.price {
  font-size: 1rem;
  color: #138844;
  font-weight: 600;
}



.star-filled {
  color: #e1aa14;
}

.hover-link:hover {
  background-color: #46f890;
}

.imgprev {
  height: 100px;
  width: auto;
}

.ter-btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.product-image {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover !important;
}

.icon-container {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

