/* Nav bar */
#Navbar,
.navbar {
  background-color: #ffffff;
}

#Navbar p, #Navbar h2 {
  color: rgb(16, 75, 31);
}

/* Hero Section */
#Hero {
  background-image: url("../images/hero/hero_.jpg");
  background-size: cover;
  background-color: rgb(180, 180, 180);
}

/* General */
section {
  padding: 20px;
}

.section-title {
  color: rgb(160, 160, 160);
  text-transform: uppercase;
  padding: 20px;
}

.width-80vw {
  width: 80vw;
}

.body-bg {
  background-color: rgb(245, 245, 245);
}
.bg-white {
  background-color: rgb(255, 255, 255);
}

.socials-logo {
  width: 50px;
  height: 50px;
}

.contacts-logo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.card-hw {
  width: 18rem;
  height: 15rem;
}

.product-card {
  width: 15rem;
  height: 20rem;
  margin-bottom: 20px;
  transition: filter 0.3s ease;
}

.product-card:hover {
  filter: brightness(.95); 
  border-color: #138844;
  
}

.no-decor {
  text-decoration: none;
  color: black;
}

.no-spacing {
  line-height: 0.8;
}

.price {
  font-size: 1rem;
  color: #138844;
  font-weight: 600;
}

.img-profile {
  width: 100px;
  height: 100px;
}

.star-filled {
  color: #e1aa14;
}
